* {
  padding: 0%;
  margin: 0%;
}

body {
  text-align: center;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  text-align: center;
  height: 150px;
  margin-bottom: 40px;
  width: 100%;
  justify-content: space-between;
}

.header img {
  margin-top: 5px;
  height: 130px;
}

.trybewarts-login input , .trybewarts-login button {
  height: 50px;
  border-radius: 15px;
  margin-left: 10px;
}

.trybewarts-login button {
  width: 175px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#email , #senha {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  font-size: 50px;
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  padding-left: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#form1 {
  display: flex;
  flex-flow: row wrap;
}

#form1 input , #form1 select {
  width: 250px;
  padding: 2%;
  margin-bottom: 10px;
}

#input-name {
  order: 1;
}

#input-lastname {
  order: 2;
  margin-left: 10px;
}

#input-email {
  order: 3;
  margin-bottom: 5px;
}

#casa {
  display: flex;
  align-self: center;
  justify-content: center;
  order: 4;
  margin-left: 10px;
}

#house {
  display: flex;
  order: 4;
  width: 230px!important;
  margin-left: 10px;
}

/* parte 2 do formulário */
#form2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

#form2-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  list-style: none;
  justify-content: space-between;
}

#form2-2-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  order: 1;
  list-style: none;
}

#form2-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  margin-left: 20px;
  list-style: none;
  justify-content: space-between;
}

#form2-3-1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 10px;
  order: 1;
  list-style: none;
}

.subject {
  width: 20%;
}

#form3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#form4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#textearea {
  margin-top: 10px;
  width: 450px;
  height: 200px;
}

#submit-btn {
  width: 100px;
  padding: 10px;
  border-radius: 15px;
}

#submit-btn:disabled {
  cursor: not-allowed;
}
