* {
  padding: 0%;
  margin: 0%;
}

body {
  text-align: center;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  text-align: center;
  height: 150px;
  margin-bottom: 40px;
  width: 100%;
  justify-content: space-between;
}

.header img {
  margin-top: 5px;
  height: 130px;
}

.trybewarts-login input , .trybewarts-login button {
  height: 50px;
  border-radius: 15px;
  margin-left: 10px;
}

.trybewarts-login button {
  width: 175px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#email , #senha {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  font-size: 50px;
  color: white;
}

main {
  display: flex;
  background-color: aquamarine;
}

#evaluation-form {
  background-color: aqua;
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#form1 {
  display: flex;
  flex-flow: row wrap;
  background-color: bisque;
}

#input-name {
  display: flex;
  order: 1;
  width: 250px;
  height: 100px;
  margin-bottom: 5px;
}

#input-lastname {
  display: flex;
  order: 2;
  width: 250px;
  height: 100px;
  margin-bottom: 5px;
  margin-left: 10px;
}

#input-email {
  display: flex;
  order: 3;
  width: 250px;
  height: 100px;
  margin-bottom: 5px;
}

#casa {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  order: 4;
  margin-left: 10px;
}

#house {
  display: flex;
  width: 250px;
  height: 100px;
  order: 4;
  margin-left: 10px;
}

/* parte 2 do formulário */
#form2 {
  display: block;
  /* flex-flow: row wrap; */

}

#label-family {
  height: 15px; 
  width: 250px;
}

#frontend {
  height: 15px;
  width: 10px;
}

#backend {
  height: 15px;
  width: 10px;
}

#fullStack {
  height: 15px;
  width: 10px;
}

#label-content {
  height: 15px;
  width: 10px;
}

#hof {
  height: 15px;
  width: 10px;
}

#jes {
  height: 15px;
  width: 10px;
}

#pro {
  height: 15px;
  width: 10px;
}

#rea {
  height: 15px;
  width: 10px;
}

#sql {
  height: 15px;
  width: 10px;
}

#pyt {
  height: 15px;
  width: 10px;
}

#form3 {
  display: block;
  flex-flow: row wrap;
  justify-content: center;
}

#form4 {
  display: block;
}

#submit-btn {
  display: flex;
  width: 175px;
  margin-left: 30%;
  margin-right: 30%;
}
