* {
  padding: 0%;
  margin: 0%;
}

body {
  text-align: center;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  text-align: center;
  height: 150px;
  margin-bottom: 40px;
  margin-bottom: 1px solid;
  width: 100%;
  justify-content: space-between;
}

.header img {
  margin-top: 5px;
  height: 130px;
}

.trybewarts-login input , .trybewarts-login button {
  height: 50px;
  border-radius: 15px;
  margin-left: 10px;
}

.trybewarts-login button {
  width: 175px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#email , #senha {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  font-size: 50px;
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}
